.hero_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div_header--img {
  width: 100%;
  background-image: url(../img/banner_SMIfull1.png);
  background-repeat: no-repeat;
}
.hero_img {
  width: 30rem;
}
.div_img__somos {
  width: 25rem;
  background-color: darkgray;
}

.back-section{
  background-color: rgb(192, 190, 190);
}
.section-div--card2{
  margin-top: 0px;
}
.section-div--img1{
  width: 20rem;
  height: 20rem;
}
.section-div--h3 {
  text-align: center;
}
.section-div--card1{
  justify-content: center;
}
.section-div--p1{
  font-size: 1.6rem;
  font: bold; 
}
.section-div--p{
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section-div--p{
    font-size: 1rem;
    text-align: center;
  }
}
