.hero_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div_header--img {
  width: 100%;
  background-image: url(/assets/img/banner_SMIfull1.png);
  background-repeat: no-repeat;
}
.hero_img {
  width: 30rem;
}
.div_img__somos {
  width: 25rem;
  background-color: darkgray;
}

.hero h2 {
  
}
.back-section{
  background-color: rgb(192, 190, 190);
}
.section-div--card2{
  margin-top: 0px;
}
.section-div--img1{
  width: 20rem;
  height: 20rem;
}
.section-div--h3 {
  text-align: center;
}
.section-div--card1{
  justify-content: center;
}
.section-div--p1{
  font-size: 1.2rem; 
}
.contenedor-img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3; /* Ajusta este valor para cambiar la transparencia de la imagen */
}
