.hero_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div_header--img {
  width: 100%;
  background-image: url(/assets/img/banner_SMIfull1.png);
  background-repeat: no-repeat;
}
.hero_img {
  width: 30rem;
}
.div_img__somos {
  width: 25rem;
  background-color: darkgray;
}

.hero h2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
  font-size: 3.7rem;
  padding: 40px 20px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #d1c414;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 0.5px 0 #2e2e2e, 0 1px 0 #2c2c2c, 0 1.5px 0 #2a2a2a,
    0 2px 0 #282828, 0 2.5px 0 #262626, 0 3px 0 #242424, 0 3.5px 0 #222,
    0 4px 0 #202020, 0 4.5px 0 #1e1e1e, 0 6px 0 #1c1c1c, 0 6.5px 0 #1a1a1a,
    0 7px 0 #181818, 0 7.5px 0 #161616, 0 8px 0 #141414, 0 8.5px 0 #121212,
    0 9px 5px rgba(0, 0, 0, 0.9);
}
.back-section{
  background-color: rgb(192, 190, 190);
}
.section-div--card2{
  margin-top: 0px;
}
.section-div--img1{
  width: 20rem;
  height: 20rem;
}
.section-div--h3 {
  text-align: center;
}
.section-div--card1{
  justify-content: center;
}
.section-div--p1{
  font-size: 1.2rem; 
}
